---
import { HOMEPAGE_URL } from '../config'
import InkdropLogo from './icons/inkdrop-logo'

const today = new Date()
---

<footer class="p-4">
  <div class="text-zinc-500 text-center">
    &copy; {today.getFullYear()}
    <a href={HOMEPAGE_URL}>YOUR NAME</a>. All rights reserved.
  </div>
  <div class="flex items-center justify-center text-center mt-4 gap-1">
    <span class="text-xs opacity-50">Powered by</span>
    <a href="https://www.inkdrop.app/" target="_blank">
      <InkdropLogo />
    </a>
  </div>
</footer>
