---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import Body from '../components/Body.astro'
import Content from '../components/Content.astro'

export interface Props {
  content: {
    title: string
    description: string
    createdAt: string
    updatedAt: string
    heroImage?: string
    tags: string[]
  }
}

const {
  content: { title, description, heroImage, createdAt }
} = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <Body>
    <Header />
    <style global>
    main article.markdown-content {
      h1, h2, h3, h4, h5 {
        @apply font-bold font-mplus my-2
      }
      h1 {
        @apply text-4xl
      }
      h2 {
        @apply text-2xl
      }
      h3 {
        @apply text-xl
      }
      h4 {
        @apply text-lg
      }
      img {
        @apply border border-slate-300 dark:border-zinc-700 rounded-xl mb-6
      }
      p {
        @apply mb-6
      }
      a {
        @apply underline underline-offset-2 text-indigo-600 dark:text-indigo-400 decoration-indigo-400 dark:decoration-indigo-600
      }
      table {
        @apply table-auto border border-slate-200 dark:border-zinc-700 rounded-lg
      }
      th {
        @apply border dark:border-zinc-700 font-bold p-4 pb-3 text-left
      }
      td {
        @apply border border-slate-200 dark:border-zinc-700 p-4
      }
      hr {
        @apply border-slate-200 dark:border-zinc-500 my-4
      }
      blockquote {
        @apply px-4 my-4 border-l-4 border-l-slate-200 dark:border-l-zinc-500 italic
      }
      ul {
        @apply list-disc list-outside pl-4 mb-4
      }
      ol {
        @apply list-decimal list-outside pl-4 mb-4
      }
    }
    </style>
    <main class="pt-[64px]">
      <Content className="markdown-content">
        <div class="mb-8">
          {
            heroImage && (
              <img
                class="border border-slate-300 dark:border-zinc-700 rounded-xl"
                width={720}
                height={360}
                src={heroImage}
                alt=""
              />
            )
          }
        </div>
        <div class="opacity-50 text-sm flex items-center gap-3">
          <span
            class="inline-block h-4 w-0.5 rounded-full bg-zinc-400 dark:bg-zinc-500"
          ></span>
          {
            new Intl.DateTimeFormat('en-US', {
              dateStyle: 'long'
            }).format(new Date(createdAt))
          }
        </div>
        <h1 class="text-3xl my-1 font-mplus">{title}</h1>
        <hr class="border-top border-zinc-400 my-4" />
        <slot />
      </Content>
    </main>
    <Footer />
  </Body>
</html>
